# build files
build/
compile_commands.json
.cmake/
.cmake2/

# clagnd cache
.clangd/
.cache/

# renderdoc settings
*.cap

# ignore compiled shader binaries
*.spv

# ignore textures, models
textures/
models/

.vscode/

# imgui config
imgui.ini

# lib files and debug info files
*.lib
*.pdb
/.vs


# engine log file
Engine.log
*.trace
/CMakeSettings.json
DebugTools
results.json
graph.dot
.rgignore
