build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/rules.ninja
build/Application/cmake_install.cmake
build/Application/CMakeFiles/Application.dir/cmake_pch.cxx
build/Application/CMakeFiles/Application.dir/cmake_pch.hxx
build/Application/CMakeFiles/Application.dir/embed.manifest
build/Application/CMakeFiles/Application.dir/intermediate.manifest
build/Application/CMakeFiles/Application.dir/manifest.rc
build/Application/CMakeFiles/Application.dir/manifest.res
build/Application/CMakeFiles/Application.dir/vc140.pdb
build/Application/CMakeFiles/Application.dir/CMakeFiles/Application.dir/cmake_pch.cxx.obj
build/Application/CMakeFiles/Application.dir/CMakeFiles/Application.dir/cmake_pch.cxx.pch
build/Application/CMakeFiles/Application.dir/src/Main.cpp.obj
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.13.3/CMakeCCompiler.cmake
build/CMakeFiles/3.13.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.13.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.13.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.13.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.13.3/CMakeSystem.cmake
build/CMakeFiles/3.13.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.13.3/CompilerIdC/CMakeCCompilerId.exe
build/CMakeFiles/3.13.3/CompilerIdC/CMakeCCompilerId.obj
build/CMakeFiles/3.13.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.13.3/CompilerIdCXX/CMakeCXXCompilerId.exe
build/CMakeFiles/3.13.3/CompilerIdCXX/CMakeCXXCompilerId.obj
build/CMakeFiles/3.16.2/CMakeCCompiler.cmake
build/CMakeFiles/3.16.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.16.2/CMakeSystem.cmake
build/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.exe
build/CMakeFiles/3.16.2/CompilerIdC/CMakeCCompilerId.obj
build/CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.exe
build/CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.obj
build/CMakeFiles/ShowIncludes/foo.h
build/CMakeFiles/ShowIncludes/main.c
build/CMakeFiles/ShowIncludes/main.obj
build/Engine/cmake_install.cmake
build/Engine/CMakeFiles/Engine.dir/cmake_pch.cxx
build/Engine/CMakeFiles/Engine.dir/cmake_pch.hxx
build/Engine/CMakeFiles/Engine.dir/Engine.pdb
build/Engine/CMakeFiles/Engine.dir/CMakeFiles/Engine.dir/cmake_pch.cxx.obj
build/Engine/CMakeFiles/Engine.dir/CMakeFiles/Engine.dir/cmake_pch.cxx.pch
build/Engine/CMakeFiles/Engine.dir/src/pch.cpp.obj
build/Engine/CMakeFiles/Engine.dir/src/Renderer.cpp.obj
build/Engine/CMakeFiles/Engine.dir/src/Window.cpp.obj
build/Windows/bin/Application.exe
build/Windows/bin/Application.ilk
build/Windows/bin/Application.pdb
build/Windows/lib/Engine.lib
